#numpy
#torch
numpy==1.21.3
scipy==1.7.3
typing-extensions==4.3.0
pillow==8.3.2
#Cython==3.0.0a10
cython<3
gym==0.17.2
mo-gymnasium[all]
mujoco-py
#gym
tensorboard
#visdom
opencv_python
git+https://github.com/fossasia/visdom
git+https://github.com/ku2482/rltorch

